<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h1 th:text="|Edit user: ${user.getName()}|">Edit user</h1>
<br>
<hr>
<br>
<table>
    <tbody>
    <form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
        <tr>
            <td><label for="username">Username</label></td>
            <td><input type="text" th:field="*{name}" id="username"/></td>
        </tr>
        <br>
        <tr>
            <td><label for="first_name">First Name</label></td>
            <td><input type="text" th:field="*{firstName}" id="first_name"/></td>
        </tr>
        <br>
        <tr>
            <td><label for="last_name">Last Name</label></td>
            <td><input type="text" th:field="*{lastName}" id="last_name"/></td>
        </tr>
        <br>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="text" th:field="*{email}" id="email"/></td>
        </tr>
        <br>
        <tr>
            <td><label for="age">Age</label></td>
            <td><input type="number" th:field="*{age}" id="age"/></td>
        </tr>
        <br>
        <tr>
            <td><label for="roles">Roles</label></td>
            <td><select multiple="multiple" th:size="${roleList.size()}" th:field="*{roles}" id="roles">
                <option th:each="role : ${roleList}"
                        th:value="${role.roleName}" th:text="${role.roleName.substring(5)}"
                        th:selected="${user.getRoles().contains(role)}">
                </option>
            </select>
            </td>
        </tr>
        <br>
        <tr>
            <td colspan="2"><center><input type="submit" value="Update User"></center></td>
        </tr>
    </form>
    </tbody>
</table>
<br>
<br>
<hr>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>